@inject IDialogService DialogService
@inject TabService tabService
@inject TaskService taskService

@rendermode InteractiveServer

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="header">
    <!-- Dynamic tabs -->
    <MudDynamicTabs 
    @ref="@DynamicTabs"
    @bind-ActivePanelIndex="@UserIndex"
    AddTab="@AddTabCallback"
    CloseTab="@CloseTabCallback"
    AddIconToolTip="Add new"
    CloseIconToolTip="Close tab"
    Elevation="0">

        @foreach (var tab in UserTabs)
        {
            <MudTabPanel ID="@tab.Id" Text="@tab.Label" ShowCloseIcon="@tab.ShowCloseIcon"></MudTabPanel>
        }

    </MudDynamicTabs>

    <!-- Screen select -->
    <div style="position: relative; height: 100%;">
        <MudToggleGroup T="string"
        @bind-Value="Screen"
        Outlined="false"
        Delimiters="false"
        Size="Size.Medium"
        Rounded="false"
        CheckMark="false"
        FixedContent="false"
        Disabled="false"
        Style="height: 100% !important;">

            <MudToggleItem Value="@("Dashboard")">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
            </MudToggleItem>

            <MudToggleItem Value="@("Task list")">
                <MudIcon Icon="@Icons.Material.Filled.FormatListBulleted" />
            </MudToggleItem>

            <MudToggleItem Value="@("Kanban")">
                <MudIcon Icon="@Icons.Material.Filled.ViewKanban" />
            </MudToggleItem>

        </MudToggleGroup>
    </div>


    <!-- Message popups -->
    <MudMessageBox @ref="confirmDeleteMessage" Title="Warning" CancelText="Cancel">
        <MessageContent>
            Deleting this tab will <b>remove all its tasks.</b> this <b>cannot</b> be undone.
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Error" StartIcon="@Icons.Material.Filled.DeleteForever">Delete</MudButton>
        </YesButton>
    </MudMessageBox>

    <MudMessageBox @ref="createTabMessage" Title="@(editingName ? "Edit tab name" : "Create new tab")" CancelText="Cancel">
        <MessageContent>
            <p>Please name your tab</p>
            <br />
            <MudInputString Placeholder="Name" @bind-Value="newTabName" />
            <br />
        </MessageContent>
        <YesButton>
            <MudButton Variant="Variant.Filled" Color="Color.Success" StartIcon="@Icons.Material.Filled.Check">Create</MudButton>
        </YesButton>
    </MudMessageBox>

</div>

@code {
    protected override void OnInitialized()
    {
        base.OnInitialized();
        RestoreUserTabs();

        OnScreenChange.InvokeAsync(screen);
        OnDarkModeToggle.InvokeAsync(darkMode);
    }

    #region Properties
    [Parameter]
    public EventCallback<string> OnScreenChange { get; set; }

    [Parameter]
    public EventCallback<bool> OnDarkModeToggle { get; set; }

    [Parameter]
    public EventCallback<Guid> OnActiveTabChange { get; set; }

    private string screen = "Dashboard";

    public string Screen
    {
        get { return screen; }
        set
        {
            screen = value;
            OnScreenChange.InvokeAsync(screen);
        }
    }

    private bool darkMode = true;

    public bool DarkMode
    {
        get { return darkMode; }
        set
        {
            darkMode = value;
            OnDarkModeToggle.InvokeAsync(darkMode);
        }
    }

    private Guid currentTabId;

    public Guid CurrentTabId
    {
        get { return currentTabId; }
        set
        {
            currentTabId = value;
            OnActiveTabChange.InvokeAsync(currentTabId);
        }
    }
    #endregion

    #region Dynamic Tabs
    // This code is taken from https://mudblazor.com/components/tabs#dynamic-tabs and modified where needed
    public MudDynamicTabs DynamicTabs;
    public List<TabView> UserTabs = new();

    private int userIndex;

    public int UserIndex
    {
        get { return userIndex; }
        set
        {
            userIndex = value;
            try
            {
                CurrentTabId = UserTabs[value].Id;
            }
            catch{
                CurrentTabId = UserTabs[0].Id;
            }
        }
    }


    bool _stateHasChanged;
    bool _showCloseIcon = false;

    void RestoreUserTabs()
    {
        // Retrieve tabs from database or initialise with "Untitled" tab if empty
        UserTabs.Clear();

        List<TabView> allTabs = tabService.GetAllTabs();

        if (allTabs.Count != 0)
        {
            foreach(TabView tab in allTabs){
                UserTabs.Add(tab);
            }
        }
        else
        {
            // Make a new untitled tab and add it to the database
            TabView newTab = new TabView { Label = "Untitled", ShowCloseIcon = false };

            UserTabs.Add(newTab);
            tabService.AddTab(newTab);
        }

        UserIndex = 0;
        _stateHasChanged = true;
    }

    protected override void OnAfterRender(bool firstRender)
    {
        base.OnAfterRender(firstRender);
        if (_stateHasChanged)
        {
            _stateHasChanged = false;

            // Set ShowCloseIcon to false if there is only one tab
            UserTabs[0].ShowCloseIcon = UserTabs.Count <= 1 ? false : true;

            StateHasChanged();
        }
    }

    public async void AddTab(Guid id)
    {
        // Confirmation message
        bool? confirmCreate = await NameTabAsync();

        if (confirmCreate == true)
        {
            TabView newTab = new TabView { Id = id, Label = newTabName };
            UserTabs.Add(newTab);
            UserIndex = UserTabs.Count - 1; // Automatically switch to the new tab.

            // Add new tab to database
            tabService.AddTab(newTab);

            _stateHasChanged = true;
        }

        newTabName = "";
    }

    public async void RemoveTab(Guid id)
    {
        // Confirmation message
        bool? confirmRemove = await ConfirmDeleteAsync();

        if (confirmRemove == true)
        {

            var tabView = UserTabs.SingleOrDefault((t) => Equals(t.Id, id));
            var currentTabView = UserTabs[UserIndex];
            if (tabView is not null)
            {
                // Would encounter exceptions when removing tabs due to main content's UserIndex being out of range
                // Added logic here to ensure UserIndex updates properly to avoid the exception
                int removingIndex = UserTabs.IndexOf(tabView);

                bool currentTabIsRemoved = false;
                if (currentTabView == tabView) { currentTabIsRemoved = true; }

                UserTabs.Remove(tabView);

                UserIndex = currentTabIsRemoved ? --UserIndex : UserTabs.IndexOf(currentTabView);
                UserIndex = UserIndex < 0 ? 0 : UserIndex;

                // Remove all tasks in the tab from the database
                taskService.RemoveAllTasksWithTabId(tabView.Id);

                // Remove tab from database
                tabService.RemoveTab(tabView);

                _stateHasChanged = true;
            }
        }
    }

    void AddTabCallback() => AddTab(Guid.NewGuid());
    void CloseTabCallback(MudTabPanel panel) => RemoveTab((Guid)panel.ID);
    #endregion

    #region Message popups
    // This code is taken from https://mudblazor.com/components/messagebox#api and modified where needed
    private MudMessageBox confirmDeleteMessage;
    private MudMessageBox createTabMessage;

    public string newTabName;
    private bool editingName;

    private async Task<bool?> ConfirmDeleteAsync()
    {
        bool? result = await confirmDeleteMessage.ShowAsync();
        result = result == null ? false : true;
        StateHasChanged();

        return result;
    }

    private async Task<bool?> NameTabAsync()
    {
        bool? result = await createTabMessage.ShowAsync();
        result = result == null ? false : true;
        StateHasChanged();

        return result;
    }
    #endregion

}
