@inject TaskService taskService

@rendermode InteractiveServer

<h1>AddTask</h1>

<EditForm Model="@taskItem" OnValidSubmit="HandleSubmit">
    <input type="text" placeholder="title" @bind-value="@taskItem.Title" />
    <input type="text" placeholder="description" @bind-value="@taskItem.Description" />
    <input type="text" placeholder="status" @bind-value="@taskItem.Status" />
    <input type="date" placeholder="due date" @bind-value="@taskItem.DueDate" />
    <button type="submit">Submit</button>
</EditForm>

@code {
    [Parameter]
    public Guid CurrentTabId { get; set; }

    [Parameter]
    public EventCallback OnSubmitClicked { get; set; }

    public TaskItem taskItem = new TaskItem();

    public void HandleSubmit()
    {
        taskItem.Id = new Guid();
        taskItem.TabId = CurrentTabId;
        taskService.AddTask(taskItem);

        taskItem = new TaskItem();

        OnSubmitClicked.InvokeAsync();
    }
}
