@page "/"

@rendermode InteractiveServer

<PageTitle>Home</PageTitle>

<MudPopoverProvider />
<MudDialogProvider />
<MudSnackbarProvider />

<div class="header">
    <MudTabs Elevation="0" MaxHeight="200">
        <MudTabPanel Text="One" />
        <MudTabPanel Text="Two" />
        <MudTabPanel Text="Three" />
        <MudTabPanel Text="Four" />
        <MudTabPanel Text="Five" />
        <MudTabPanel Text="Six" />
        <MudTabPanel Text="Seven" />
        <MudTabPanel Text="Eight" />
        <MudTabPanel Text="Nine" />
        <MudTabPanel Text="Ten" />
        <MudTabPanel Text="Eleven" />
        <MudTabPanel Text="Thirteen" />
    </MudTabs>


    <div class="header-options">
        <MudSwitch 
        @bind-Value="darkMode"
        Color="Color.Primary"
        UncheckedColor="Color.Primary"
        Style="margin: auto;"
        ThumbIcon="@(darkMode ? Icons.Material.Filled.DarkMode : Icons.Material.Filled.LightMode)" 
        ThumbIconColor="Color.Info"
        Size="Size.Large"
        />

        <MudToggleGroup T="string" @bind-Value="screen" Outlined="@_outlined" Delimiters="@_delimiters" Size="@_size" Rounded="@_rounded" CheckMark="@_checkMark" FixedContent="@_fixedContent" Disabled="@_disabled" Style="width: auto;">
            <MudToggleItem Value="@("Dashboard")">
                <MudIcon Icon="@Icons.Material.Filled.Home" />
            </MudToggleItem>

            <MudToggleItem Value="@("Task list")">
                <MudIcon Icon="@Icons.Material.Filled.FormatListBulleted" />
            </MudToggleItem>

            <MudToggleItem Value="@("Kanban")">
                <MudIcon Icon="@Icons.Material.Filled.ViewKanban" />
            </MudToggleItem>
        </MudToggleGroup>
    </div>

</div>

<div>
    <p>Main content goes here</p>
</div>


@code{
    public bool darkMode = true;
    public string screen = "Dashboard";

    Size _size = Size.Medium;
    Color _color = Color.Secondary;
    bool _rounded = false;
    bool _checkMark = false;
    bool _outlined = false;
    bool _delimiters = false;
    bool _fixedContent = false;
    bool _disabled = false;

}